html {
  font-family: 'Muli', sans-serif;
}

body {
  background: #FFFFFF;
  color: #999;
  margin: 0;
  font-weight: 200;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1080px;
  padding: 80px 50px;
  margin: auto;
}

header {
  width: 350px;
  padding-bottom: 80px;
  display: inline-block;
}

header h1 {
  font-size: 40px;
  font-weight: 900;
  color: #000000;
}

nav {
  float: right;
}

nav li {
  list-style: none;
  padding-left: 25px;
  text-transform: uppercase;
  display: inline-block;
}

nav li.current {
  font-weight: 400;
  color: #000000;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}

.project img {
  width: 100%;
  height: 390px;
  object-fit: contain;
  object-position: 50% 50%;
}

.project h2 {
  font-size: 16px;
  padding-top: 10px;
  font-weight: normal;
  text-align: center;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .container {
    padding: 30px;
  }

  header {
    width: 100%;
    padding-bottom: 20px;
  }

  header h1 {
    text-align: center;
  }

  nav {
    float: none;
    padding-bottom: 15px;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }

  nav ul li {
    padding: 0 0 5px 0;
    text-align: center;
    display: block;
  }

  .projects {
    display: block;
  }

  .project {
    padding-bottom: 20px;
  }

  .project img {
    height: auto;
  }
}
