html {
  font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    padding: 70px;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul {
  margin-left: -40px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover, a:hover h1, a:hover h2, .active {
  background: #aaa;
  color: #fff;
}

p {
  padding: 0;
  margin: 0;
}

header {
  width: 1000px;
  padding: 0 0 60px 0;
  text-align: center;

  animation: fadein 1s;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s;
}
header h1,
header h2 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  display: inline-block;
}
header h1 {
  font-size: 38px;
  line-height: 40px;
  margin: 0 0 3px 0;
}
header h2 {
  font-size: 22px;
  line-height: 24px;
  font-weight: 100;
}

h3 {
  text-transform: uppercase;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

h4 {
  text-transform: uppercase;
  font-size: 16px;
  padding: 5px 0;
  margin: 0;
}

nav {
  width: 120px;
  margin: 0 60px 0 0;
  font-size: 15px;
  float: left;

  animation: fadein 1s;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s;
}
nav ul li {
  padding: 0 0 15px 0;
}
nav ul li a, nav .active {
  padding: 0 5px;
}

#main {
  width: 700px;
  margin: 0 0 70px 0;
  float: left;

  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}
#main ul.front {
  margin: 0 0 0 -35px;
}
#main ul.front li {
  margin: 0 20px 30px 0;
  text-align: center;
  display: inline-block;
}
#main ul.front li .thumbnail {
  width: 200px;
  height: 150px;
  margin: 0 0 5px 0;
}
#main ul.front li .thumbnail img {
  width: 200px;
  height: 150px;
  margin: 0 0 10px 0;
}
#main ul.front li span {
  font-size: 13px;
}
#main ul {
  margin-top: 15px;
}
#main ul li {
  margin: 0 0 15px 0;
}
#main h3 {
  padding: 0 0 15px 0;
}
#main p {
  padding: 15px 0;
}
#main .video {
  padding: 0 0 20px 0;
}
#main .video iframe {
  width: 500px;
  height: 280px;
}
#main .screenshot {
  padding: 10px 0 0 0;
  margin: 0;
}
#main .screenshot li {
  padding: 0 0 10px 0;
}
#main .screenshot p {
  padding-top: 0;
}
#main .two-column li {
  width: 45%;
  padding: 0 3% 0 0;
  display: inline-block;
}
#main .two-column img {
  width: 100%;
}


/* Media Queries */
@media (max-width: 1100px) {
  body {
    padding: 20px 40px;
  }

  ul {
    margin-left: -25px;
  }

  header {
    width: auto;
    padding: 0 0 10px 0;
  }

  nav {
    width: auto;
    margin: 0;
    text-align: center;
    float: none;
  }
  nav ul li {
    padding: 0 15px 10px 0;
    display: inline-block;
  }

  #main {
    width: 100%;
  }

  #main ul.front {
    max-width: 700px;
    text-align: center;
    margin: auto;
    padding-right: 30px;
  }
}

@media (max-width: 500px) {
  #main .two-column li {
    width: 100%;
    padding: 0;
    display: block;
  }
  #main .two-column img {
    width: 100%;
  }
  #main .video iframe {
    width: 100%;
    height: auto;
  }
}
