html {
  font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    padding: 70px;
    font-weight: 100;
}

ul {
  margin: 0 0 0 -30px;
  list-style: none;
}

header {
  width: 1000px;
  padding: 0 0 60px 0;
  text-align: center;
}
header h1,
header h2 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
header h1 {
  font-size: 33px;
}
header h2 {
  font-size: 18px;
  font-weight: 100;
}

#menu {
  width: 100px;
  margin: 0 60px 0 0;
  float: left;
}
#menu ul li {
  padding: 0 0 15px 0;
}

#main {
  width: 700px;
  margin: 0 0 70px 0;
  float: left;
}
#main ul li {
  margin: 0 20px 30px 0;
  text-align: center;
  display: inline-block;
}
#main ul li .thumbnail {
  width: 200px;
  height: 150px;
  border: 1px dotted #ccc;
  margin: 0 0 10px 0;
}
#main ul li span {
  font-size: 13px;
}
