{% load static %}

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Louise Shieh</title>
    <meta name="description" content="Louise Shieh">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Muli:200,200i,400,900" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <header>
        <h1>LOUISE SHIEH</h1>
      </header>

      <nav>
        <ul>
          {% if page == 'home' %}
          <li class="current">Work</li>
          {% else %}
          <li><a href="{% url 'home' %}">Work</a></li>
          {% endif %}
          {% if page == 'about' %}
          <li class="current">About</li>
          {% else %}
          <li><a href="{% url 'about' %}">About</a></li>
          {% endif %}
        </ul>
      </nav>

      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
