{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Louise Shieh</title>
    <meta name="description" content="Louise Shieh">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Muli:200,200i,400,900" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div id="lockdown">
        <h2>Hello.</h2>

        {% if form %}
        <form action="" method="post">{% csrf_token %}
          {{ form.as_p }}
          <p><input type="submit" value="Preview" /></p>
        </form>
        {% endif %}

      </div>
    </div>
  </body>
</html>
