html {
  font-family: 'Muli', sans-serif;
}

body {
  background: ##fcfcfc;
  color: #999;
  margin: 0;
  font-weight: 200;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

h2 {
  color: #000000;
  padding-bottom: 20px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1080px;
  padding: 80px 50px;
  margin: auto;
}

header {
  width: 350px;
  padding-bottom: 80px;
  display: inline-block;
}

header h1 {
  font-size: 40px;
  font-weight: 900;
  color: #000000;
}

header h1 a:hover {
  text-decoration: none;
}

nav {
  float: right;
}

nav li {
  list-style: none;
  padding-left: 25px;
  text-transform: uppercase;
  display: inline-block;
}

nav li.current {
  font-weight: 400;
  color: #000000;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}

.projects .project img {
  width: 100%;
  height: 340px;
  object-fit: contain;
  object-position: 50% 50%;
}

.projects .project h2 {
  font-size: 16px;
  padding: 10px 0;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
}


.project-detail ul {
  margin: 0;
  padding: 0;
}

.project-detail ul li {
  list-style: none;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project-detail .media {
  width: 70%;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: 0;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-detail iframe {
  width: 100%;
}

.project-detail img {
  max-width: 100%;
}

.project-detail .copy {
  padding: 0 20px;
}


.about-image {
  padding-right: 30px;
  vertical-align: top;
  display: inline-block;
}

.about-body {
  display: inline-block;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .container {
    padding: 30px;
  }

  header {
    width: 100%;
    padding-bottom: 20px;
  }

  header h1 {
    text-align: center;
  }

  nav {
    float: none;
    padding-bottom: 15px;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }

  nav ul li {
    padding: 0 0 5px 0;
    text-align: center;
    display: block;
  }

  .projects {
    display: block;
  }

  .projects .project {
    padding-bottom: 20px;
  }

  .projects .project img {
    height: auto;
  }

  .project-detail ul li {
    display: block;
  }

  .project-detail ul li .media {
    width: 100%;
  }

  .project-detail ul li .copy {
    padding: 20px 0;
  }
}
